<main [style.margin-top.px]="discountHeight">
  <section class="redeem-feature-wrap">
    <article class="container">
      <figure class="row">
        <div class="col-sm-12 text-center">
          <div class="img-wrap rounded-circle">
            <span class="icon">😞</span>
          </div>
          <h2 class="color-dark">This page is not currently
            accessible.</h2>
          <h4 class="color-dark">If you have an existing Prüvit Food
            SmartShip order, please login below to edit selections.
          </h4>
          <button (click)="login()"
            class="button button-primary buy-now-lg">Login</button>
        </div>
      </figure>
    </article>
  </section>
</main>
