<div class="sk-cart color-white-bg"
  [ngStyle]="{ 'touch-action': 'none' }">
  <figure class="sk-cart__header d-flex justify-content-between">
    <h4 class="color-black sk-cart__header-title">
      {{ 'high-five' | translate }}</h4>
    <a (click)="onClickCloseAddToCart()"
      class="sk-cart__close-btn pointer">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L13 13" stroke="#131313" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" />
        <path d="M13 1L1 13" stroke="#131313" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
  </figure>

  <section class="sk-cart__content-width">
    <figure class="sk-cart__added-product text-center">
      <img src="assets/images/high-five-cart.png" alt="High five"
        class="img-fluid sk-cart__cart-img" />

      <h4 class="color-black sk-cart__header-title"
        *ngIf="!isFromSmartship" [innerHTML]="productName"></h4>

      <h4 class="color-black sk-cart__header-title"
        *ngIf="isFromSmartship"
        [innerHTML]="getSmartshipTranslatedText()"></h4>
    </figure>

    <figure class="text-center">
      <button
        class="button button-primary buy-now sk-cart__cart-btn button-icon"
        (click)="onClickGoToCart()">
        {{ 'go-to-cart' | translate }}
      </button>

      <button class="button link-hover" *ngIf="!isFromSmartship"
        (click)="onClickCloseAddToCart()">
        {{ 'continue-shopping' | translate }}
      </button>

      <p class="text-center" *ngIf="isFromSmartship">
        <span (click)="onClickCloseAddToCart()" class="button">{{
          'add-more-smartship-products' | translate }}</span>
      </p>
    </figure>

    <figure class="sk-cart__suggest-product-wrap text-center"
      *ngIf="getRelatedProducts().length > 0 && !isFromSmartship">
      <h4 class="color-black sk-cart__header-title">
        {{ 'you-may-also-like' | translate }}
      </h4>

      <div class="row sk-cart__sug-product-all">
        <ng-container
          *ngFor="let product of getRelatedProducts(); let i = index">
          <div class="col-6" [ngClass]="{
              'sk-cart-sug__custom-pad-l': (i + 1) % 2 !== 0,
              'sk-cart-sug__custom-pad-r': (i + 1) % 2 === 0
            }">
            <div
              class="sk-cart-sug__product text-center color-light-white-bg">
              <figure class="sk-cart-sug__product-img">
                <img src="{{ product.post_thumb_url }}"
                  class="img-fluid" alt="Product-1" />
              </figure>

              <div class="sk-cart-sug__product-details">
                <h4 class="color-black sk-cart-sug__product-title"
                  [innerHTML]="product.post_title"></h4>
                <ng-template #nonChinesePrice>
                  <p
                    class="p-small color-gray sk-cart-sug__product-from">
                    {{ 'from' | translate }}
                    {{ currencySymbol }}{{
                    getProductPrice(product.mvp_variations) }}
                  </p>
                </ng-template>
                <p class="p-small color-gray sk-cart-sug__product-from"
                  *ngIf="selectedLanguage === 'zh-hans' || selectedLanguage === 'zh-hant'; else nonChinesePrice">
                  {{ currencySymbol }}{{
                  getProductPrice(product.mvp_variations) }}
                  {{ 'from' | translate }}
                </p>
              </div>

              <div class="sk-cart-sug__product-btn">
                <button class="button button-primary buy-now"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                  (click)="onClickBuyNow(product.post_name)">
                  {{ 'buy-now' | translate }}
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </figure>
  </section>
</div>
