@charset "UTF-8";
.dark-theme body,
body.dark-theme,
.dark-theme .loader-wrap,
.dark-theme .modal-content,
.dark-theme.drawer .color-white-bg,
.dark-theme .drawer-nav,
.dark-theme .modal-backdrop,
.dark-theme .cart-progress-bar {
  background-color: #000000 !important;
}
.dark-theme .sk-product__user-amount .pack-qty-btn:hover,
.dark-theme .sk-cart__item-close-btn:hover {
  color: #000;
}

.dark-theme .sk-category__products .slick-prev:hover,
.dark-theme .sk-category__products .slick-next:hover,
.dark-theme .sk-main__banner-slider .slick-arrow:hover,
.dark-theme .sk-cart__item-close-btn:hover,
.dark-theme .sk-product__main-img .slick-arrow:hover,
.dark-theme .ketoKremeFFT-benefits,
.dark-theme .broth-skin-wraper.sage,
.dark-theme .broth-skin-wraper,
.dark-theme .food-for-thought,
.dark-theme .MCTProduct-about,
.dark-theme .your-daily-guide-wrap,
.dark-theme .How-ketones-works,
.dark-theme .product-lineup-wrap,
.dark-theme .not-doing-this-alone-wrap,
.dark-theme .plus-get-access,
.dark-theme .yours-for-only-wrap,
.dark-theme .doctor-formulated,
.dark-theme .challenge-disclaimer {
  background-color: #ffffff;
}
.dark-theme .color-black,
.dark-theme .loader i,
.dark-theme .sk-header__nav-link:hover i,
.dark-theme .product-breadcrumbs li a:hover,
.dark-theme .sk-category__btn:hover,
.dark-theme .sk-form-control,
.dark-theme .search-drowdown .dropdown-item.title,
.dark-theme .dropdown-item:focus,
.dark-theme .dropdown-item:hover,
.dark-theme .search-drowdown .dropdown-item span,
.dark-theme .sk-product__user-select:hover,
.dark-theme .sk-product__user-amount .qty-width,
.dark-theme .sk-country__link:hover,
.dark-theme .sk-cart__subtitle--text,
.dark-theme .sk-country__sub-link:hover,
.dark-theme .sk-country__link-lenguage:hover,
.dark-theme .close:hover,
.dark-theme .sk-sf__select-flavor-content:hover::before,
.dark-theme .sk-sf__details,
.dark-theme .sk-product__faqs h2,
.dark-theme .sk-header-user-mobile:hover i,
.dark-theme .drawer-toggle:hover i,
.dark-theme .sk-product__faqs h3,
.dark-theme .select-pack .select-pack-heading .title,
.dark-theme .pulse-pro .pulse-pro-description .title,
.dark-theme .promoter-wrapper .promoter-pack .pr-pack .title,
.dark-theme .promoter-wrapper .promoter-builder .subtitle,
.dark-theme .promoter-wrapper .promoter-exclusive .exclusive-heading h2,
.dark-theme
  .promoter-wrapper
  .promoter-banner
  .pr-card
  .inner
  .pr-list
  .list-item,
.dark-theme .promoter-wrapper .promoter-banner .pr-card p,
.dark-theme .foodLand-info .approved-info h2,
.dark-theme .foodLand-info .best-slide h1,
.dark-theme .foodLand-info .info-card .founder h4,
.dark-theme .foodLand-info .approved-card {
  color: #ffffff;
}
.dark-theme .sk-product__flavor-list li:hover,
.dark-theme .sk-product__flavor-list .active {
  border-color: #ffffff;
}
.dark-theme .sk-header__logo-box svg path,
.dark-theme .sk-header__nav-mobile svg path {
  fill: #ffffff;
}
.dark-theme .sk-cart__close-btn:hover svg path {
  stroke: #ffffff;
}

.dark-theme .sk-header,
.dark-theme .sk-category__btn,
.dark-theme .color-light-white-bg,
.dark-theme .enter-to-search-wrap .search-pruvit-nav .form-control:focus,
.dark-theme .sk-product__user-select,
.dark-theme .custom-radio:hover input ~ .checkmark,
.dark-theme .sk-product__user-amount .pack-qty-btn,
.dark-theme .sk-cart__header,
.dark-theme .sk-cart__subtitle,
.dark-theme .sk-country__header,
.dark-theme .sk-country__sub-list,
.dark-theme .sk-cart__item-img,
.dark-theme .sk-cart__login-path,
.dark-theme .sk-product__info-btn,
.dark-theme .sk-product__info-btn-mobile,
.dark-theme .promoter-note-text,
.dark-theme .pulse-pro .sk-product__img {
  background-color: #1c1c1e;
}
.dark-theme .sk-product__user-select,
.dark-theme .sk-country__list > li,
.dark-theme .sk-country__list > li:last-child,
.dark-theme .sk-product__info-btn,
.dark-theme .sk-product__info-btn-mobile,
.dark-theme .referrer-code-focused:-webkit-autofill,
.dark-theme .referrer-code-focused:-webkit-autofill:focus,
.dark-theme .sk-cart__item-box:not(:last-child),
.dark-theme .sk-cart .sk-cart__checkout-msg.text-center,
.dark-theme .sk-cart__login-path,
.dark-theme .sk-cart__payment {
  border-color: #1c1c1e;
}
.dark-theme .sk-header .sk-header__navbar {
  border-bottom-color: #1c1c1e;
}

.dark-theme .sk-category__btn:hover,
.dark-theme .sk-form-control,
.dark-theme .dropdown-menu,
.dark-theme .copy-link-group .copy-link {
  background-color: #2c2c2e;
}
.dark-theme .enter-to-search-wrap .search-pruvit-nav .form-control,
.dark-theme .enter-to-search-wrap .search-pruvit-nav .form-control:focus,
.dark-theme .sk-cart__subtitle,
.dark-theme .cart-progress-bar {
  border-color: #2c2c2e;
}

.dark-theme .sk-category__products .slick-prev,
.dark-theme .sk-category__products .slick-next,
.dark-theme .sk-main__banner-slider .slick-arrow,
.dark-theme .enter-to-search-wrap .search-pruvit-nav .form-control,
.dark-theme .sk-product__main-img .slick-arrow {
  background-color: #47474a;
  transition: all 0.3s ease-in-out;
}
.dark-theme .sk-form-control,
.dark-theme .search-pruvit-nav .form-control:focus,
.dark-theme .sk-cart__header,
.dark-theme .sk-country__sub-list > li:not(:last-child),
.dark-theme .sk-form-control:focus,
.dark-theme .sk-product-faq,
.dark-theme .sk-product__info--mobile-card,
.dark-theme .sk-product__info--mobile .accordion {
  border-color: #47474a;
}

.dark-theme .sk-product__user-amount .pack-qty-btn:hover,
.dark-theme .sk-cart__item-close-btn {
  background: #636366;
}
.dark-theme .close,
.dark-theme .breadcrumb-greater-than {
  color: #636366;
}
.dark-theme .close {
  text-shadow: none;
}

.dark-theme .gray-darker,
.dark-theme .sk-category__btn,
.dark-theme .sk-header__nav-link i,
.dark-theme .sk-category__products .slick-prev::before,
.dark-theme .sk-category__products .slick-next::before,
.dark-theme .sk-form-control::placeholder,
.dark-theme .dropdown-item,
.dark-theme .enter-to-search-wrap .search-pruvit-nav .hit-enter,
.dark-theme .sk-product__user-select,
.dark-theme .sk-product__user-amount .pack-qty-btn,
.dark-theme .sk-product__amount-cost h4 .color-black,
.dark-theme .sk-country__link,
.dark-theme .sk-country__sub-link,
.dark-theme .sk-country__link-lenguage,
.dark-theme .sk-main__banner-slider .slick-prev:before,
.dark-theme .sk-main__banner-slider .slick-next:before,
.dark-theme .sk-sf__serving-size,
.dark-theme .sk-sf__select-flavor-content::before,
.dark-theme .sk-product__main-img .slick-prev:before,
.dark-theme .sk-product__main-img .slick-next:before,
.dark-theme .sk-product__info-btn,
.dark-theme .sk-product__info-btn-mobile,
.dark-theme .sk-header-user-mobile i,
.dark-theme .drawer-toggle i {
  color: #8e8e93;
}
.dark-theme .checkmark {
  border-color: #8e8e93;
}
.dark-theme .search-pruvit-nav > a svg path,
.dark-theme .search-box-mobile.search-pruvit-nav .pointer svg path {
  fill: #8e8e93;
  opacity: 1;
}
.dark-theme .sk-cart__close-btn svg path {
  stroke: #8e8e93;
}

.dark-theme .sk-product-faq-body {
  color: #919192;
}

.dark-theme .dropdown-item:focus,
.dark-theme .dropdown-item:hover {
  background-color: transparent;
}

.dark-theme .enter-to-search-wrap .search-pruvit-nav .hit-enter,
.dark-theme .search-box-mobile.search-pruvit-nav .pointer svg {
  opacity: 1;
}

.dark-theme .modal-backdrop.show {
  opacity: 0.6;
  background-color: #1c1c1e !important;
}

.dark-theme .modal-content .link-hover,
.dark-theme .sk-cart__content-width .link-hover,
.dark-theme .smartShip-discount-modal .modal-body .text-center a.button,
.dark-theme .sk-product__info-btn:hover,
.dark-theme .sk-product__info-btn.active,
.dark-theme .pulse-pro .no-thank {
  color: #2152ff;
}

.dark-theme .share-my-cart-link a:hover,
.dark-theme .share-my-cart-link a:hover i,
.dark-theme .copy-link-group .copy-link:hover,
.dark-theme .smartShip-discount-modal .modal-body a.button:hover {
  color: #204ceb;
}

.dark-theme .sk-product__user-amount .pack-qty-btn:focus {
  outline: none;
}

.dark-theme.drawer .drawer-overlay {
  background: #1c1c1e;
  opacity: 0.6;
}

.dark-theme .sk-form-control:focus,
.dark-theme .referrer-code-focused {
  box-shadow: inset 0px 0px 5px #2c2c2e;
}

.dark-theme .sk-pruver__btn,
.dark-theme .sk-pruver__btn:hover,
.dark-theme .sk-pruver__btn:focus {
  box-shadow: 0 9px 24px #1c1c1e;
  background-color: #1c1c1e !important;
}

.dark-theme .sk-product__info-btn,
.dark-theme .sk-product__info-btn-mobile {
  border-bottom-color: #1c1c1e;
}

.dark-theme .food-for-thought {
  padding-top: 30px;
}

.dark-theme .smartShip-discount-modal .modal-body a.button:hover {
  text-decoration: underline;
}

.dark-theme .referrer-code-focused:-webkit-autofill,
.dark-theme .referrer-code-focused:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0px 1000px #47474a inset;
  -webkit-box-shadow: 0 0 0px 1000px #47474a inset;
}

.dark-theme .sk-product__info-btn:hover,
.dark-theme .sk-product__info-btn.active {
  cursor: pointer;
  border-bottom-color: #2152ff;
}

.dark-theme .almost-unlocked-wrap {
  background: #000000;
  border-bottom: 1px solid #2c2c2e;
}
.dark-theme .almost-unlocked-wrap p {
  color: #ffffff;
}

.dark-theme .sk-cart__item-modify h4.color-black .font-reg,
.dark-theme .sk-product__amount-cost h4.color-green .font-reg {
  color: #919192;
}
.dark-theme .sk-cart__item-modify h4.color-black,
.dark-theme .sk-product__amount-cost h4 {
  color: #fff;
}
.dark-theme .sk-cart__item-modify h4.color-black.color-green,
.dark-theme .sk-product__amount-cost h4.color-green {
  color: #219653;
}

.dark-theme .sk-product__user-select {
  color: #fff;
}
.dark-theme .sk-cart__shipment a.link-hover.p-small:hover {
  color: #2152ff;
}
.dark-theme .sk-cart__shipment a.link-hover.p-small {
  color: #fff;
}

.dark-theme .sort-by-dropdown,
.dark-theme .sort-by-dropdown .form-select {
  background: #000;
}

.dark-theme .blog-latest-post-inner {
  background: #1c1c1e;
}
.dark-theme .blog-topic-title,
.dark-theme .blog-latest-post-title,
.dark-theme .blog-details {
  color: #fff;
}
.dark-theme .blog-topic .blog-topic-container .slick-next,
.dark-theme .blog-topic .blog-topic-container .slick-prev {
  background: #47474a;
}
.dark-theme .blog-topic .blog-topic-container .slick-next::before,
.dark-theme .blog-topic .blog-topic-container .slick-prev::before {
  color: #8e8e93;
}
.dark-theme .blog-topic .blog-topic-container .slick-next:hover,
.dark-theme .blog-topic .blog-topic-container .slick-prev:hover {
  background: #fff;
}

.dark-theme .blog-details-comments {
  background: #1c1c1e;
}

.dark-theme .blog-details-comments-heading,
.dark-theme
  .blog-details-comments
  .comments-details
  .card-body
  .comments-content
  .card-text,
.dark-theme .blog-details-comments .full-form h6,
.dark-theme .blog-details-comments .full-form p {
  color: #fff;
}

.dark-theme .blog-details-comments .comments-from-prepend .input-group-text,
.dark-theme .blog-details-comments .comments-details {
  background-color: #2c2c2e;
}

.dark-theme .sk-product__more-review a.link-hover {
  color: #2152ff;
}

.dark-theme
  .blog-details-comments
  .comments-details
  .card-body
  .comments-content
  .card-title {
  color: #fff;
}

.dark-theme .promoter-wrapper .promoter-exclusive .exclusive-card.bg-dark,
.dark-theme .promoter-wrapper .promoter-builder .builder-card,
.dark-theme .promoter-wrapper .promoter-banner .pr-card {
  background: #2a2a2c;
}

.dark-theme .promoter-wrapper .promoter-banner .pr-card .inner {
  background: linear-gradient(180deg, #323232 0%, #2a2a2c 100%);
}

.dark-theme .promoter-wrapper .promoter-builder .builder-card {
  box-shadow: 0px 13px 25px #000000;
}

.dark-theme .bs-tooltip-auto[x-placement^="top"] .arrow::before,
.dark-theme .bs-tooltip-top .arrow::before {
  border-top-color: #4b4b4c;
}
.dark-theme .bs-tooltip-auto[x-placement^="right"] .arrow::before,
.dark-theme .bs-tooltip-right .arrow::before {
  border-right-color: #4b4b4c;
}
.dark-theme .bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.dark-theme .bs-tooltip-bottom .arrow::before {
  border-bottom-color: #4b4b4c;
}
.dark-theme .bs-tooltip-auto[x-placement^="left"] .arrow::before,
.dark-theme .bs-tooltip-left .arrow::before {
  border-left-color: #4b4b4c;
}
.dark-theme .tooltip .tooltip-inner {
  background: #4b4b4c;
}
.dark-theme
  .promoter-wrapper
  .promoter-banner
  .pr-card
  .inner
  .pr-list
  .list-item
  a:hover {
  color: #dadada;
}

.dark-theme .ingredients-filter-wrap .form-group select.form-control {
  background: #1c1c1e;
  border-color: #1c1c1e;
  color: #fff;
}

.dark-theme .ingredients-filter-wrap .form-group .select::after {
  color: #8e8e93;
}

.dark-theme .ingredients-filter-wrap .form-group .select:hover::after {
  color: #fff;
}

.dark-theme .ingredients-filter-wrap .form-group label {
  color: #fff;
}

.dark-theme .ingredients-filter-body .title {
  color: #fff;
}
.dark-theme .research-hero .research-title,
.dark-theme .research-hero .slider .inner,
.dark-theme .research-hero .dr-details .title h2,
.dark-theme .research-hero .dr-details .dr-name,
.dark-theme .research-lab h2,
.dark-theme .research-lab .research-card h3,
.dark-theme .research-wild h2,
.dark-theme .research-wild .inner-content .item {
  color: #fff;
}

.dark-theme .research-hero .slider,
.dark-theme .research-lab .research-card .card-front {
  background: #1c1c1e;
}

.dark-theme .research-hero .research-slider .slick-next,
.dark-theme .research-hero .research-slider .slick-prev {
  background-color: #47474a;
}

.dark-theme .research-hero .research-slider .slick-next:before,
.dark-theme .research-hero .research-slider .slick-prev:before {
  color: #8e8e93;
}

.dark-theme .research-hero .research-slider .slick-next:hover,
.dark-theme .research-hero .research-slider .slick-prev:hover {
  background: #fff;
}

.dark-theme .research-lab .research-card .card-back {
  background: #2c2c2e;
}

.dark-theme .research-hero {
  border-bottom: 1px solid #2c2c2e;
}

.dark-theme .research-wild .KetoWild-accordion .card {
  border-color: #1c1c1e;
}

.dark-theme .research-wild .KetoWild-accordion .card .card-header .btn {
  color: #fff;
}

.dark-theme
  .research-wild
  .KetoWild-accordion
  .card
  .card-header
  .btn
  svg
  path {
  fill: #fff;
}

.dark-theme .research-wild .KetoWild-accordion .card .card-body ul li a {
  color: #0077ff;
}

.dark-theme .sk-main__banner-slider .slick-dots li.slick-active button:before {
  color: #fff;
}

.dark-theme .setup-smartShip-row h2,
.dark-theme .smartship-never .smartship-heading h1 {
  color: #fff;
}

.dark-theme .smartship-never .smartship-get .process .customer {
  background: #1c1c1e;
  color: #fff;
}

.dark-theme .smartship-never .smartship-get .process .customer h3 {
  color: #fff;
}

.dark-theme .smartship-never .smartship-save .exclusive-card .card-back {
  background: #2c2c2e;
}

.dark-theme
  .smartship-never
  .smartship-save
  .exclusive-card.gift
  .card-back
  h2 {
  color: #fff;
}

.dark-theme .promoter-wrapper .promoter-banner .pr-card .popular {
  color: #d61cf3;
}

.dark-theme .smartship-never .smartship-save .save-card {
  background: #1c1c1e;
}
.dark-theme .smartship-never .smartship-save .save-card h3 {
  color: #fff;
}

.dark-theme .error-404-wrap .no-keto-here.ch-black-color {
  color: #fff;
}
.dark-theme .error-404-wrap .some-helpful-links.ch-brand-gray {
  color: #919192;
}

.dark-theme .sk-header__navbar-padding .sk-center-menu-wrap .nav-item .nav-link,
.dark-theme .sk-header .sk-header__nav-link.nav-link .text-label,
.dark-theme
  .sk-header__navbar-padding
  .sk-center-menu-wrap
  .nav-item.dropdown
  .dropdown-menu
  .dropdown-menu-item
  li
  .dropdown-item,
.dark-theme .mobile-nav-menu-wrap .nav-menu-top li a .name-text,
.dark-theme .mobile-nav-menu-wrap .nav-menu-bottom > li a {
  color: #fff;
}

.dark-theme
  .sk-header__navbar-padding
  .sk-center-menu-wrap
  .nav-item.active
  .nav-link:before,
.dark-theme
  .sk-header__navbar-padding
  .sk-center-menu-wrap
  .nav-item:hover
  .nav-link:before {
  background: #fff;
}

.dark-theme
  .sk-header
  .sk-header__nav-link.nav-link.nav-menu-btn
  .menu-icon
  .bars
  path,
.dark-theme
  .sk-header
  .sk-header__nav-link.nav-link.nav-menu-btn
  .menu-icon
  .close
  path,
.dark-theme .mobile-nav-menu-wrap .nav-menu-top li a svg path,
.dark-theme .sk-header .sk-header__nav-link.nav-link.login svg path {
  fill: #8e8e93;
}

.dark-theme
  .sk-header
  .sk-header__nav-link.nav-link.nav-menu-btn[aria-expanded="true"] {
  background: #000;
}

.dark-theme .mobile-nav-menu-wrap {
  background: #1c1c1e;
}

.dark-theme .mobile-nav-menu-wrap .nav-menu-top,
.dark-theme .mobile-nav-menu-wrap .nav-menu-top li,
.dark-theme .mobile-nav-menu-wrap .nav-menu-bottom > li {
  border-color: #333333;
}

.dark-theme .mobile-nav-menu-wrap .nav-menu-bottom .dropdown-submenu ul {
  background: #47474a;
}

.dark-theme .sk-header .sk-header__nav-link.nav-link:hover:before {
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .dark-theme .sk-header .sk-header__nav-link.nav-link:hover:before {
    background: transparent;
  }
}

.dark-theme .food-experience .food-exp-banner h1,
.dark-theme .filter-sort-modal.bundle-summary .modal-body .filter-title,
.dark-theme .food-step-count-bar .inner-wrap .preload-text,
.dark-theme
  .filter-sort-modal.bundle-summary
  .modal-body
  .food-bundle
  .sub-total,
.dark-theme
  .filter-sort-modal.bundle-summary
  .modal-body
  .food-bundle
  li
  .right-cont
  .row
  h4,
.dark-theme .filter-sort-modal .modal-body .filter-title,
.dark-theme .filter-sort-modal .modal-body .filter-group .sub-title,
.dark-theme .filter-sort-modal .modal-body .filter-group .custom-checkbox,
.dark-theme .filter-sort-modal .modal-body .filter-group .custom-radio,
.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-bottom-text
  .accordion
  .card
  .card-header
  .button,
.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-bottom-text
  .accordion
  .card
  .card-header
  .button:before {
  color: #fff;
}

.dark-theme .food-experience .food-exp-body-wraper .food-exp-item .card,
.dark-theme .food-step-count-bar,
.dark-theme
  .filter-sort-modal.bundle-summary
  .modal-body
  .food-bundle
  li
  .img-box {
  background-color: #1c1c1e;
}

.dark-theme .food-experience .food-exp-banner .date-text,
.dark-theme .filter-sort-modal.bundle-summary .modal-body .date-text,
.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-bottom-text
  .supplement-facts
  li {
  color: #949496;
}

.dark-theme .filter-sort-modal.bundle-summary .modal-body .food-bundle .empty,
.dark-theme .filter-sort-modal.bundle-summary .modal-body .food-bundle li,
.dark-theme
  .filter-sort-modal
  .modal-body
  .filter-group
  .custom-checkbox
  .checkmark-box,
.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-bottom-text
  .supplement-facts
  li,
.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-bottom-text
  .accordion
  .card {
  border-color: #47474a;
}

.dark-theme
  .filter-sort-modal.bundle-summary
  .modal-body
  .food-bundle
  .empty
  .right-cont {
  color: #47474a;
}

.dark-theme
  .filter-sort-modal.bundle-summary
  .modal-body
  .food-bundle
  .empty
  .img-box:before {
  opacity: 0.3;
}

.dark-theme
  .filter-sort-modal.bundle-summary
  .modal-body
  .food-bundle
  .sub-total,
.dark-theme .filter-sort-modal .modal-body .filter-group .custom-checkbox,
.dark-theme .custom-checkbox:hover input ~ .checkmark-box,
.dark-theme .filter-sort-modal .modal-body .filter-group .custom-radio,
.dark-theme .filter-sort-modal .custom-radio:hover input ~ .checkmark,
.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-bottom-text
  .accordion
  .card {
  background: transparent;
}

.dark-theme .filter-sort-modal.bundle-summary .modal-body .food-bundle li {
  background: #000;
}

.dark-theme .filter-sort-modal .custom-checkbox input:checked ~ .checkmark-box {
  background: #2152ff;
  border-color: #2152ff !important;
}

.dark-theme .filter-sort.modal-footer .button-bar {
  background: #1c1c1e;
  border-top: 1px solid #1c1c1e;
}

.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-bottom-text
  .accordion
  .card
  .card-header
  .button:before {
  border-color: #fff;
}

.dark-theme .food-experience .product-breadcrumbs ul li a:hover {
  color: #fff;
}

.dark-theme .food-experience .product-breadcrumbs ul .breadcrumb-greater-than {
  color: #919192;
}

.dark-theme .food-experience .product-breadcrumbs ul li a:hover {
  color: #fff;
}
.dark-theme .food-experience .product-breadcrumbs ul .breadcrumb-greater-than {
  color: #919192;
}

.dark-theme
  .food-experience
  .food-exp-body-wraper
  .filter-sort-bar
  .filter-col
  .button {
  background: #1c1c1e;
  color: #8e8e93 !important;
}

.dark-theme
  .food-experience
  .food-exp-body-wraper
  .filter-sort-bar
  .filter-col
  .button:hover {
  background: #2c2c2e;
  color: #fff !important;
}

.dark-theme
  .food-experience
  .food-exp-body-wraper
  .filter-sort-bar
  .filter-col
  .button.active {
  background: #2152ff;
  color: #fff !important;
}

.dark-theme
  .food-experience
  .food-exp-body-wraper
  .food-exp-item
  .card
  .top-img {
  background-repeat: no-repeat;
  background-position: center;
}

.dark-theme
  .food-experience
  .food-exp-body-wraper
  .food-exp-item
  .card
  .top-img,
.dark-theme
  .food-details-modal
  .modal-dialog
  .modal-content
  .modal-body
  .food-img-wrap {
  background-image: url(../images/logo-bg-thumb-white.svg);
  background-color: #2c2c2c;
}

.dark-theme .zip-code-modal .modal-dialog .modal-content .close {
  background: #636366;
}

.dark-theme .zip-code-modal .modal-dialog .modal-content .close:hover {
  background: #828282;
}

.dark-theme .zip-code-modal .form-group .form-control {
  background-color: #000;
  color: #fff;
  border-color: #1c1c1e;
}

.dark-theme .zip-code-modal .form-group .form-control:focus,
.dark-theme .zip-code-modal .form-group .form-control.selected {
  border-color: #2152ff;
}

.dark-theme .sezzle-message a i::before {
  color: #1c1c1e;
}
.dark-theme .sezzle-message a {
  color: #8e8e93;
}
.dark-theme .sezzle-message a:hover {
  color: #fff;
}

.dark-theme .tooltip .arrow.top::before {
  border-top-color: #404040;
  border-right-color: transparent;
}
.dark-theme .tooltip .arrow::before {
  border-right-color: #404040;
}

.dark-theme .sezzle-message svg.color-text {
  display: none;
}

.dark-theme .sezzle-message svg.white-text {
  display: initial;
}

.dark-theme .suggested-right-content h1,
.dark-theme .suggested-right-content h2,
.dark-theme .suggested-right-content h3,
.dark-theme .suggested-right-content h4,
.dark-theme .suggested-right-content h5,
.dark-theme .suggested-right-content h6,
.dark-theme .suggested-right-content p {
  color: #fff;
}

.dark-theme .redeem-feature-wrap h3 {
  color: #fff;
}

.dark-theme .redeem-feature-wrap h2,
.dark-theme .redeem-feature-wrap h4 {
  color: #fff;
}

.dark-theme .foodLand-how-it .how-it-row .card,
.dark-theme .foodLand-info .info-card,
.dark-theme .foodLand-info .approved-card {
  background: #1c1c1e;
}

.dark-theme .food-experience .food-exp-body-wraper .quick-add .card {
  background: #a231e6;
}

.dark-theme .foodLand-info {
  background: #000;
}
