<main class="sk-main" [style.margin-top.px]="discountHeight">
  <section class="smartship-never">
    <article class="container">
      <figure class="row smartship-heading text-center">
        <div class="col-sm-12">
          <h1>Setup SmartShip and never pay full price.</h1>
          <h4>SmartShip rewards our loyal customers with the BEST
            value on Prüvit technology.</h4>
          <button (click)="ScrollIntoView()"
            class="button button-primary button-large">Setup
            smartship</button>
        </div>
      </figure>


      <figure class="row smartship-save">
        <div class="col-sm-12 text-center">
          <img src="assets/images/smarship-about.png"
            alt="smarship-products"
            class="img-flluid smarship-products-img" />
        </div>
        <div class="col-sm-12 col-md-4 text-center" appLottiePlayer>
          <div class="save-card">
            <lottie-player src="/assets/animation/money_save.json"
              background="transparent" speed="1" count="1" autoplay>
            </lottie-player>
            <h3>Save money</h3>
            <p>SmartShip Prüvers enjoy 22% off their monthly order and
              top-ups during the month.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center" appLottiePlayer>
          <div class="save-card">
            <lottie-player src="/assets/animation/save_time.json"
              background="transparent" speed="1" count="1" autoplay>
            </lottie-player>
            <h3>Save time</h3>
            <p>SmartShip orders automatically process and ship every
              month.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center" appLottiePlayer>
          <div class="save-card">
            <lottie-player src="/assets/animation/control_svg.json"
              background="transparent" speed="1" count="1" autoplay>
            </lottie-player>
            <h3>You’re in control</h3>
            <p>Edit or cancel your SmartShip order at any point.</p>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 text-center">
          <div class="exclusive-card access">
            <h2>Exclusive access</h2>
            <p>Access to the best offers on new product technologies.
            </p>
            <p>
              <img src="assets/images/cotton-candy.png"
                alt="cotton-candy" class="img-fluid" />
            </p>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 text-center">
          <div class="exclusive-card gift">
            <div class="card-front">
              <h2>Free gift</h2>
              <p>Get a FREE mystery gift for every 3 months of
                SmartShip loyalty.**</p>
              <a class="learn-more pointer">Learn more
                <svg width="19" height="10" viewBox="0 0 19 10"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5L12.0784 5" stroke="white"
                    stroke-width="1.6" stroke-miterlimit="16"
                    stroke-linejoin="round" />
                  <path
                    d="M18.1172 5L11.3231 9.33013V0.669873L18.1172 5Z"
                    fill="white" />
                </svg>
              </a>
              <p>
                <img src="assets/images/gift.png" alt="gift"
                  class="img-flui9d" />
              </p>
            </div>
            <div class="card-back">
              <div class="card-close"><i class="fal fa-times"></i>
              </div>
              <h2>How does it work?</h2>
              <h3>For every 3 consecutive months of SmartShip orders,
                you become eligible to receive a FREE mystery gift
                with your next SmartShip order.</h3>
              <p>Qualifying SmartShip orders must meet minimum
                criteria of 50 BV.</p>
            </div>
          </div>
        </div>
      </figure>


      <figure class="row smartship-get text-center">
        <div class="col-sm-12">
          <h2>Get your SmartShip for</h2>
          <p class="free">
            <span>
              Free
            </span>
          </p>
          <h3>Send your referral link to 2 friends who need ketones in
            their life.</h3>

          <div class="process">
            <div class="customer you">
              <h2>You</h2>
            </div>
            <svg width="34" height="33" viewBox="0 0 34 33"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.5791 0.287999V13.048H0.935133V20.008H13.5791V33H20.5971V20.008H33.1251V13.048H20.5971V0.287999H13.5791Z"
                fill="url(#paint0_linear)" fill-opacity="0.9" />
              <defs>
                <linearGradient id="paint0_linear" x1="-3.41156"
                  y1="-10" x2="50.8538" y2="30.9785"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FF8000" />
                  <stop offset="1" stop-color="#FF4880" />
                </linearGradient>
              </defs>
            </svg>

            <div class="customer">
              <h4>Customer</h4>
              <h3>1</h3>
            </div>
            <svg width="34" height="33" viewBox="0 0 34 33"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.5791 0.287999V13.048H0.935133V20.008H13.5791V33H20.5971V20.008H33.1251V13.048H20.5971V0.287999H13.5791Z"
                fill="url(#paint0_linear)" fill-opacity="0.9" />
              <defs>
                <linearGradient id="paint0_linear" x1="-3.41156"
                  y1="-10" x2="50.8538" y2="30.9785"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FF8000" />
                  <stop offset="1" stop-color="#FF4880" />
                </linearGradient>
              </defs>
            </svg>

            <div class="customer">
              <h4> Customer</h4>
              <h3>2</h3>
            </div>
          </div>
          <p class="process-info">
            If you want your SmartShip to process for FREE, simply
            refer 2 SmartShip customers. This earns you Prüvit Bucks
            that get automatically applied to your next SmartShip
            order.*
          </p>
        </div>
      </figure>

    </article>
  </section>

  <section id="smartship-products">
    <div class="container">
      <div class="row setup-smartShip-row">
        <div class="col">
          <h2 class="text-center">Setup SmartShip</h2>
          <p class="text-center color-gray">Choose from the following
            SmartShip eligible product technologies to start saving.
          </p>
        </div>
      </div>
    </div>

    <app-smartship-products>
    </app-smartship-products>
  </section>

  <section class="disclaimer-wrap">
    <div class="container">
      <div class="row disclaimer-row">
        <div class="col">
          <p class="color-gray disclaimer-reg">*The average of the 2
            largest orders are awarded as Prüvit Bucks, which will
            automatically be applied to your SmartShip order. New
            orders placed by Customers within 30 days of joining, and
            Customer SmartShip orders, are valid.</p>

          <p class="color-gray disclaimer-reg ">**FREE gift earned
            after every 3 consecutive months of minimum 50BV active
            SmartShip, shipped with your 4th month’s order. If Free
            Mystery Gift is earned with a SmartShip order that
            contains KETO//UP, the Free Mystery Gift must be shipped
            separately due to size and weight shipping restrictions of
            KETO//UP. Free Mystery Gift will also then have a separate
            invoice which will result in additional shipping charges.
          </p>
        </div>
      </div>
    </div>
  </section>

</main>
