<div class="modal-footer filter-sort">
  <div class="button-bar">
    <a (click)="resetFilterAndSort()" class="button button-primary reset">{{
      "reset" | translate
    }}</a>
    <a (click)="close()" class="button button-primary button-icons"
      >{{ "apply" | translate }}
      <svg
        width="16"
        height="12"
        viewBox="0 0 16 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.2205 7.39182L0 7.39182L1.78416e-07 5.79182L10.2205 5.79182V7.39182Z"
          fill="white"
        />
        <path
          d="M15.8627 6.50001L9.11267 12.1292V0.87085L15.8627 6.50001Z"
          fill="white"
        />
      </svg>
    </a>
  </div>
</div>
