<section class="sk-category">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="color-black">{{ "categories" | translate }}</h3>

        <ul class="sk-category__list shopBy-category d-flex">
          <li
            class="sk-category__list-item"
            *ngFor="let category of categories"
          >
            <span class="new-tag text-center" *ngIf="category.slug === 'food'"
              >New</span
            >
            <a
              (click)="onClickCategory(category.slug)"
              class="img-wrap rounded-circle text-center"
              [ngStyle]="{
                backgroundImage: 'url(' + category.image + ')',
                backgroundColor: category.bg_color
              }"
            >
              <i *ngIf="category.slug === 'shop-all'" class="fas fa-th"></i>
            </a>

            <h4 class="color-black text-center">{{ category.name }}</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
