<main [style.margin-top.px]="discountHeight">
  <section class="food-experience">
    <article class="container">
      <div class="col-12 product-breadcrumbs">
        <ul class="p-small">
          <li>
            <a class="color-gray" (click)="onClickHome()"
              ><i class="fas fa-home-lg-alt" style="font-size: 12px"></i
            ></a>
          </li>
          <span class="breadcrumb-greater-than">›</span>
          <li>
            <a
              class="color-gray"
              [routerLink]="['/food']"
              [queryParams]="language !== 'en' ? { lang: language } : {}"
              >{{ "food-delivery" | translate }}</a
            >
          </li>
        </ul>
      </div>

      <figure class="row text-center food-exp-banner slt-food">
        <div class="col-sm-12">
          <h1>
            {{
              isAutoshipAvailable
                ? ("edit-selections" | translate)
                : ("select-food" | translate)
            }}
          </h1>
          <h4 class="date-text">
            <i class="far fa-truck"></i>
            {{
              isAutoshipAvailable
                ? discountInfo.autoshipShippingDate
                : discountInfo.shippingDate
            }}
          </h4>
          <p class="color-gray sub-text">
            {{
              isAutoshipAvailable
                ? ("make-changes-before" | translate) +
                  " " +
                  discountInfo.editDate
                : ("first-shipment-date" | translate) +
                  ", " +
                  ("and" | translate) +
                  " " +
                  ("weekly-thereafter" | translate)
            }}
          </p>
        </div>
      </figure>

      <figure class="row food-exp-body-wraper" *ngIf="!isEditSelections">
        <div class="col-sm-12 title-col">
          <h3 class="color-black">{{ "quick-add" | translate }}</h3>
        </div>
        <div class="col-md-6 col-12 food-exp-item quick-add">
          <div class="card" [style.background]="quickAddMenus.bGColor">
            <div class="bottom-text">
              <h3 class="color-white">{{ quickAddMenus.title }}</h3>
              <h5 class="color-white">{{ quickAddMenus.description }}</h5>
              <p class="p-small color-white price">
                {{ boxTotalPrice | currency }} /{{ "week" | translate }}
              </p>
              <div class="btns-group">
                <div
                  (click)="onClickQuickAddPlus()"
                  *ngIf="quickAddMenus.quantity === 0"
                >
                  <a class="button button-primary button-large add-btn"
                    ><i class="far fa-plus"></i> {{ "add" | translate }}</a
                  >
                </div>
                <div
                  *ngIf="quickAddMenus.quantity > 0"
                  class="button button-primary button-large add-btn added"
                >
                  <a (click)="onClickQuickAddMinus()" class="pointer"
                    ><i class="far fa-minus"></i
                  ></a>
                  {{ quickAddMenus.quantity }} {{ "added" | translate }}
                  <a (click)="onClickQuickAddPlus()" class="pointer"
                    ><i class="far fa-plus"></i
                  ></a>
                </div>
              </div>

              <p class="p-small">
                <a
                  href
                  (click)="toggleTooltip($event)"
                  id="whatsInIt"
                  data-toggle="tooltip"
                  data-html="true"
                  data-placement="right"
                  data-template="<div class='tooltip' role='tooltip'><div class='arrow right'></div><div class='pulse-credit tooltip-inner'></div></div>"
                  [title]="quickAddMenusList"
                  class="color-white"
                  >{{ "whats-in-it" | translate }}
                </a>
              </p>
            </div>

            <div class="top-img img-right">
              <div
                class="food-img"
                [ngStyle]="{
                  'background-image': 'url(' + quickAddMenus.image + ')'
                }"
              ></div>
            </div>
          </div>
        </div>
      </figure>

      <div class="col-sm-12 title-col p-m-0 p-lg-0" *ngIf="!isEditSelections">
        <h3 class="color-black">{{ "all-products" | translate }}</h3>
      </div>

      <figure class="row food-exp-body-wraper">
        <div class="col-sm-12 filter-sort-bar">
          <div class="filter-col">
            <a
              (click)="onClickSubCategory('all')"
              class="button button-primary"
              [class.active]="selectedSubCategory === 'all'"
              >{{ "all" | translate }}</a
            >
            <a
              (click)="onClickSubCategory(subCategory)"
              class="button button-primary"
              [class.active]="selectedSubCategory === subCategory"
              *ngFor="let subCategory of foodSubCategories"
              >{{
                subCategory === "OVEN_READY"
                  ? ("meals" | translate)
                  : subCategory === "SNACK_PACKS"
                  ? ("snacks" | translate)
                  : subCategory
              }}</a
            >
          </div>

          <div class="sort-col">
            <span (click)="onClickFilterAndSort()"
              >{{ "filter" | translate }} + {{ "sort" | translate }}</span
            >
          </div>
        </div>

        <div
          class="col-md-4 col-6 food-exp-item"
          *ngFor="
            let food of foods
              | filterCategory: selectedCategory
              | filterSubCategory: selectedSubCategory
              | filterDiet: selectedDiets
              | sort: selectedSort
          "
        >
          <app-food-card [food]="food"></app-food-card>
        </div>
      </figure>
    </article>
  </section>
</main>

<app-foods-box></app-foods-box>
