<main class="sk-main" [style.margin-top.px]="discountHeight"
  *ngIf="authorBlogs.length > 0; else notFound">
  <section class="sk-product__banner">
    <div class="container">
      <div class="row">
        <div class="col-12 product-breadcrumbs">
          <ul class="p-small">
            <li>
              <a class="color-gray" (click)="onClickHome()"><i
                  class="fas fa-home-lg-alt"
                  style="font-size: 12px"></i></a>
            </li>
            <span class="breadcrumb-greater-than">&#8250;</span>
            <li><a class="color-gray" (click)="onClickBlog()">Blog</a>
            </li>
            <span class="breadcrumb-greater-than">&#8250;</span>
            <li><span class="color-gray"
                [innerHTML]="author?.name"></span></li>
          </ul>
        </div>
        <div class="col-md">
          <figure class="sk-category__parent-title-wrap text-center">
            <h1 class="color-black sk-category__parent-title"
              [innerHTML]="'Author: ' + author?.name"></h1>
            <p class="color-gray sk-category__parent-subtitle">
              {{ "Number of posts: " + authorBlogs.length }}
            </p>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="sk-category__parent-products">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4"
          *ngFor="let blog of authorBlogs">
          <div class="blog-latest-post-inner">
            <div class="inner-img pointer"
              (click)="onClickReadPost(blog.slug)"
              [style.backgroundImage]="'url(' + blog.imageUrl + ')'">
            </div>

            <div class="inner-text">
              <p>
                <a (click)="onClickReadPost(blog.slug)"
                  class="color-black pointer"
                  [innerHTML]="blog.title"></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<ng-template #notFound>
  <app-error404></app-error404>
</ng-template>
