<div class="dashboard__side__navigation">
  <ul>
    <li><i class="fas fa-home-lg-alt"></i>home</li>
    <li><i class="fas fa-repeat"></i>My smartship</li>
    <li routerLink="/dashboard/order-history" routerLinkActive="active-link">
      <i class="fas fa-history"></i>Order history
    </li>
    <li><i class="fas fa-map-marker-alt"></i>Addresses</li>
    <li><i class="fas fa-credit-card-front"></i>Payment methods</li>
    <li><i class="fas fa-user"></i>Account profile</li>
    <li><i class="fas fa-bell"></i>Notifications</li>
  </ul>
  <ul class="learning__center__menu">
    <li><i class="fas fa-globe"></i>My websites</li>
    <li><i class="fas fa-toolbox"></i>Training center</li>
  </ul>
  <ul class="help__menu">
    <li><i class="fas fa-question-circle"></i>Get help</li>
    <li><i class="fas fa-sign-out"></i>Logout</li>
  </ul>
  <img src="assets/images/Ractangle.png" />
</div>
